*{
    background-color: #D47878;
    position: sticky;
    top: 0;
    z-index: 2100;
}

a{
    color: #404040;
    text-decoration: none;
    border: none;
    border-radius: 30px 0px 30px 0px;
    background-color: #F6FBEF;
    padding: 0.5rem 3rem 0.5rem 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
}

.containerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0rem;
    border-radius: 3px;
    top: 0;
}

.containerr .bottom{
    display: flex;
    align-items: center;
}

.containerr .logo{
    text-decoration: none;
    background-color: #F6FBEF;
    padding: 1rem 0.7rem 1rem 0.7rem;
    border-radius: 3px;
    color: black;    
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
}

.containerr .search-bar{
    text-decoration: none;
    background-color: #404040;
    color: #404040;
    padding: 0.5rem 3rem 0.5rem 1.5rem;
    border-radius: 0px 30px 0px 30px;
    position: relative;  
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
    transition: .8s ease;
    margin-right: .8rem;
}

.containerr:hover .search-bar {
    margin-right: 30rem;
    transition: 2s ease;
    text-decoration: none;
    background-color: #404040;
    border-radius: 0px 30px 0px 30px;
    color: #F6FBEF;
    position: relative;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
    cursor: text;
}

.containerr:hover input{
    width: 40rem;
    transition: 2s ease;
}

.containerr .search-bar span{
    left: 20px;
    position: relative;
    background: none;
    opacity: 0.7;
}


input{
    background: none;
    border: none;
    width: 5rem;
    outline: none;
}