*{
    background-color: #D47878;
    position: sticky;
    top: 0;
    z-index: 2100;
}

button{
    text-decoration: none;
    border: none;
    border-radius: 30px 0px 30px 0px;
    background-color: #F6FBEF;
    padding: 0.5rem 3rem 0.5rem 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
}

.containerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0rem;
    border-radius: 3px;
    top: 0;
}


.containerr .logo{
    text-decoration: none;
    background-color: #F6FBEF;
    padding: 1rem 0.7rem 1rem 0.7rem;
    border-radius: 3px;
    color: black;    
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
}

.containerr .search-bar{
    text-decoration: none;
    background-color: #404040;
    color: #404040;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 0px 30px 0px 30px;
    position: relative;  
    transition: 2s ease-in-out;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
}

.containerr .search-bar:hover{
    text-decoration: none;
    background-color: #404040;
    /* padding: 0.5rem 43rem 0.5rem 0.5rem; */
    border-radius: 0px 30px 0px 30px;
    color: #F6FBEF;
    position: relative;  
    transition: 2s ease-in-out;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.25);
    cursor: text;
}

.containerr .search-bar span{
    left: 20px;
    position: relative;
    background: none;
    opacity: 0.7;
}


.containerr .button .blog-button{
    position: relative;
    align-items: center;
    justify-content: center;
}

input{
    background: none;
    border: none;
    width: 5rem;
    outline: none;
}

input:hover{
    width: 43rem;
    margin-right: 1rem;
    transition: 2s ease;
}