<!-- <app-header></app-header>
<div class="row">
    <div class="col-6">
        <div>
            <app-left-menu></app-left-menu>
        </div>

    </div>
    <div class="col-8">
        <div style="flex-grow: 1;">
            <app-main-carts></app-main-carts>
        </div>

    </div>
</div> -->


<app-header></app-header>
  <div class="row flex-row">
    <div class="col-2">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-10">
        <app-main-carts></app-main-carts>
    </div>
  </div>

  