.container{
    background-color: #975D5D;
    height: 100%;
    border-radius: 3px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.nav-item{
    position: absolute;
    margin-top: 80px;
    padding: 0.5% 4% 0.5% 4%;
    margin-left: 1rem;
    text-decoration: none;
    list-style: none;
    background-color: #fff;
    border-radius: 0rem 1rem 0rem 1rem;
}

.countries{
    margin-top: 10rem;
}

.dropdown-menu{
    max-height: 20rem;
    overflow-y: scroll;
}