ul {
  list-style-type: none;
  z-index: 2;
}

li {
  float: left;
  list-style: none;
  margin: 1rem;
}

li a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 20rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  border-radius: 3px;
  min-width: 29%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

img{
  object-fit: contain;
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  background-color: #404040;
  object-fit: cover;
}

.name{
  color: #ffffff;
  z-index: 5; 
  font-style: bold;
  font-weight: 700;
  font-size: 170%;
  position: absolute;
  top: 15rem; 
  left: 0; 
  padding: 10px;
  text-shadow: -3px 4px #ffffff29, 0 0 5px rgba(66, 66, 66, 0.1);
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #404040;
  color: white;
  transform: rotateY(180deg);
  position: relative;
  display: flex;
  flex-direction: column;
  perspective: 1000px;
  justify-content: space-around;
  align-items: center;
}

.back-name{
  color: #fff;
  align-self: center;
  z-index: 5; 
  font-style: bold;
  font-weight: 600;
  font-size: 200%;
  margin: .7rem;
  text-shadow: -3px 4px #ffffff29, 0 0 5px rgba(66, 66, 66, 0.1);
}

.flip-card-back .content{
  align-items: flex-start;
}

.flip-card-back .content .badges{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem;
}

.flip-card-back .content .info{
  text-transform: none;
  margin: 1rem;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 0.2s;
}

.flip-card-back .content .info:hover{
  text-shadow: -3px 4px #ffffff29, 0 0 5px rgba(66, 66, 66, 0.1);
  transform: rotateX(-5deg) rotateY(5deg);
  
}

.flip-card-back .content .info span{
  font-weight: bolder;
  font-size: larger;
  color:  #D47878;
}

.flip-card-back .content .badges span{
  padding: 8px;
  border-radius: 2rem;
  background-color: #ffffff4e;
  margin-right: 5px;
}