<ul *ngFor="let meals of mealByIds">
    <li class="list" *ngIf="!!meals && !!meals.idMeal">
        <a href="/food/{{meals.idMeal}}" >
            <div class="flip-card" >
                <div class="flip-card-inner" *ngIf="!!meals && meals.idMeal">
                  <div class="flip-card-front">
                    <img [src]="meals.strMealThumb" alt="img" >
                    <div class="name">
                        {{meals.strMeal}}
                    </div>
                  </div>
                  <div class="flip-card-back">
                    <div class="back-name">
                        {{meals.strMeal}}
                    </div>
                    <div class="content">
                      <div class="info">
                        <span>
                          Instructions: 
                        </span>
                        {{getSentences(meals.strInstructions)}}
                      </div>
                      <div class="badges">
                        <span>
                          {{meals.strCategory}}
                        </span>
                        <span>
                          {{meals.strArea}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </a>
    </li>
</ul>
