<ul>
    <li *ngFor="let meals of mealsByCategories" class="carts">
        <a href="/food/{{meals.idMeal}}" >
            <div class="box">
                <img [src]="meals.strMealThumb" alt="img">
                <div class="content">
                    <div class="top">
                        <div class="name">
                            {{meals.strMeal}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text">
                <span >
                    {{ getInstructionsByMealId(meals.idMeal) }}
                </span>
            </div>
        </a>
    </li>
</ul>