ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

  .carts{
    background-color: #404040;
    height: 23rem;
    border-radius: 3px;
    max-width: 25%;
    min-width: 29%;
    margin: 2% 2% 2% 2%;
   }

   .carts .box{
    margin: 0rem 1.7rem 0 1.7rem;
    /* height: 13rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d5d5d5;
    position: relative;
   }

   .carts .box img{
    object-fit: contain;
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    background-color: aliceblue;
    object-fit: cover;

   }

   .carts .box .content{
        color: #d5d5d5;
        z-index: 5; 
        text-transform: uppercase;
        font-style: bold;
        font-weight: 700;
        font-size: 180%;
        position: absolute; /* Resmin üzerine pozisyonlamak için absolute yapın */
        top: 10rem; /* Yemek ismini resmin üstüne konumlandırmak için top değerini ayarlayın */
        left: 0; /* Yemek ismini sola yaslamak için left değerini ayarlayın */;
        padding: 10px;
        text-shadow: -3px 5px #ffffff29, 0 0 5px rgba(66, 66, 66, 0.1);
   }

   .carts .text{
    color: #d5d5d5; 
    position: relative;
    margin-left: 1.7rem ;
    z-index: 7; 
    text-shadow: -3px 5px #40404029, 0 0 5px rgba(66, 66, 66, 0.1);
    bottom: -140px;
   }