<div class="containerr">
    <div class="row">
        <div class="col-md-6 left flip-card">
            <div class="ozlusoz flip-card-inner">
                <div class="flip-card-front">
                    <p>"Explore a Gastronomic Adventure:
                         Delve into Culinary Delights from Around the World!"</p>
                </div>
                <div class="flip-card-back">
                    <p>
                        "Embark on a Culinary Journey: Discover Exquisite Flavors and Global Delicacies!"
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 right">
            <div class="box">
                <h1>Hey Hello!</h1>
                <p class="info">Enter your small and small and small and smaller info text.</p>
                <div class="inputlar">
                    <div class="username">
                        <p>Username: </p>
                        <input type="username">
                    </div>
                    <div class="password">
                        <p>Password: </p>
                        <input type="password">
                    </div>
                    <div class="extra">
                        <div>
                            <i class="fa-solid fa-bookmark"></i>
                            Remember me!
                        </div>
                        <div>
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                    <div class="login-button">
                        <button routerLink="/user" >Sign In!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



yemek adı id
detay
ne zaman eklendiği



sql de iki tablo
db de iki tablo
kullanıcılar isim parola id

yemek


sql

mvc 