.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 3rem;
    background-color: #404040;
    min-width: 95%;
    border-radius: 3px;
    color: aliceblue;
}

.container > *{
    min-width: fit-content;
}

img{
    border-radius: 5px;
    flex:1 0;
    background-color: aliceblue;
    object-fit: cover;
    height: 35rem;
    margin: 5rem;
}

.container .info-box{
    font-size: 150%;
    margin: 1rem;
    min-height: 45rem;
}

.container .info-box .food-name{
    font-size: 250%;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.container .info-box .top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .info-box .none{
    color: aliceblue;
}

.container .ingrediants{
    color: rgb(149, 203, 250);
}

.ing{
    margin-left: 2%;
    margin-top: 7%;
}

.ing-top{
    font-weight: bold;
    font-size: larger;
}

.top-top{
    margin-right: 3rem;
}

.container .info-box span{
    color: #cb8e8e;
}

.container .info-box .bottom{
    margin-top: 2rem;
    max-width: 55rem;
    font-size: 80%;
}

.container .info-box .bottom > *{
    margin-top: 1.5rem;
}
